
/*Lipe Teixeira Silva - 300963168*/

body {
	background-color: #00cc99;
	color: #000000;
	font-family: verdana;
	}
	
	h1 {
		color: #0000ff;
		text-align: center;
	}	

	p, blockquote, pre {
		white-space: pre-wrap;
	}
	
	/*start navigation*/
	nav {
		padding: 5px;
		margin: 20px;
	}
	
	nav ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #00cc99;
		border-radius: 10px 25px 25px 10px;
	}
	
	nav ul li {
		float: left;
	}
	
	nav ul li a {
		display: block;
		color: #ffffff;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}
	
	nav ul li a:hover:not(.active) {
		background-color: #00ffaa;
	}
	
	nav ul li a.active {
		background-color: #00ccff;
	}
	
	nav ul li.right {
		float: right;
	}
	
	@media screen and (max-width: 600px){
		nav ul li.right, 
		nav ul li {float: none;}
	}
	/*end navigation*/
	
    img#image {
        float: left;
    }

th, tr, td {
    border-width: thin;
    border-style: solid;
    border-color: #00cc99;
    background-color: #ffffff;
    padding: 5px;
}
	
	table {
		margin-left: auto;
		margin-right: auto;
	}
	
	.about {
		margin-left: 11em;
	}
	
	main {
		background-color: #ffffff;
		padding: 25px;
		margin: 12.5px;
		padding-bottom: 50px;
	}
	
	footer {
		width: 100%;
		bottom: 0;
		height: 50px;
		position: relative;
		text-align: center;
	}

	canvas {
		background-color: #ffffff;
		display: block;
		margin-left: auto;
		margin-right: auto;		
	}

	.gameMenu {		
		background-color: #136450; 
		width: 950px;
		margin-left: auto;
		margin-right: auto;
	}
	.gameMenu h2 {
		display: inline-block;
		margin-left: 20px;
		margin-right: 310px;
		text-align: left;
		color: white;
	}

	.gameMenu button {
		display: inline-block;
		margin-left: 10px;
		background-color: #034635;
		color: white;
		padding: 10px 20px;
	}